@page
@model PRN221.SalesManagement.Web.Pages.ProductPage.IndexModel

<h1>Products List</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Product[0].Name)</th>
            <th>@Html.DisplayNameFor(model => model.Product[0].Description)</th>
            <th>@Html.DisplayNameFor(model => model.Product[0].Price)</th>
            <th>@Html.DisplayNameFor(model => model.Product[0].Status)</th>
            <th>@Html.DisplayNameFor(model => model.Product[0].Category.Name)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Product)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                <td>@Html.DisplayFor(modelItem => item.Status)</td>
                <td>@Html.DisplayFor(modelItem => item.Category.Name)</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pagination">
    <a asp-page="./Index" asp-route-pageIndex="@(Model.PageIndex - 1)" class="@(Model.HasPreviousPage ? "" : "disabled")">Previous</a>
    <span>Page @Model.PageIndex of @Model.TotalPages</span>
    <a asp-page="./Index" asp-route-pageIndex="@(Model.PageIndex + 1)" class="@(Model.HasNextPage ? "" : "disabled")">Next</a>
</div>
